.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.headermodif {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.imglogo {
    height: 40px; /* Adjust the size of the logo as needed */
    margin-right: 10px;
}

.logo-text {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.navbar-icons {
    list-style: none;
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-top: 18px;
    
}
.navbar-icons i{
    color: white;
}



.user-menu {
    position: relative;
}

.user-icon {
    height: 40px; /* Adjust the size of the user icon */
    margin-left: 20px;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #00a8a8; /* Match the navbar color */
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 170px;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.dropdown-item {
    margin-top: 7px;
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
}


.dropdown-item span {
    font-family: 'Abel', sans-serif;
    color: white;
}

.dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}


/* Intro */
.Intro img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}