@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.home {
    font-family: "Open Sans", sans-serif;
}

/* Header */

.header {
    position: relative;
    /* Asegura que el pseudo-elemento no se desborde */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 500px;
    grid-auto-rows: minmax(100px, auto);
    background-color: #00a8a8;

}

.headermodif {
    display: grid;
    gap: 15px;
    grid-template-areas:
        "imgeslogo logotext";
    align-items: center;
}

.imglogo {
    width: 45px;
}

.logo-text {
    font-family: 'Abel', sans-serif;
    color: #ffffff;
    font-size: 34px;
    text-align: left;
    grid-area: logotext;
}

.logo {
    text-align: right;
    grid-area: imgeslogo;
}

/* Nav Menu */
nav {
    grid-area: navmenu;
}

.nav-signup {
    display: grid;
    gap: 10px;
    grid-template-areas:
        "navmenu btnsignup";
    align-items: center;
    margin-bottom: 20px;
}


nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Boton de inicio de sesion */
.btn-signup {
    grid-area: btnsignup;
}

.signup {
    font-family: 'Abel', sans-serif;
    background-color: #00a8a8;
    font-size: 20px;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 25px;
}

.signup:hover {
    background-color: white;
    border: none;
    color: #00a8a8;
    padding: 10px 20px;
    border-radius: 25px;
}

/* Seccion de introduccion */
.IntroWelcome {
    position: relative;
    height: 250px;
    background-color: #00a8a8;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* Distribuye el espacio alrededor de los elementos */
    margin-bottom: 20px;
}

.IntroWelcome::after {
    z-index: -1;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    /* Altura de la parte elíptica */
    background-color: #00a8a8;
    /* Color de fondo de la elipse */
    border-radius: 100%;
    /* Radio de la elipse */
    transform: translateY(50%);
    /* Desplaza la elipse hacia abajo */
}

.intro {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
}

.intro h2 {
    font-size: 24px;
}

.intro p {
    font-size: 18px;
    line-height: 1.5;
}

.welcome img {
    width: 300px;
}



/* Seccion information */
.main-content {
    text-align: center;
    margin: 100px 0;
}

.information {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.information div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 15px;
}

.information div i {
    width: 70px;
    height: 70px;
    font-size: 24px;
    border-radius: 50%;
    background-color: #00a8a8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.information a {
    color: #00a0a3;
    text-decoration: none;
    font-size: 18px;
}



/* Footer */
.footer {
    background-color: #00a8a8;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.social-media {
    list-style: none;
    display: flex;
    gap: 25px;
    justify-content: center;

}

.fa-github,
.fa-linkedin,
.fa-whatsapp,
.fa-instagram {
    color: white;
}

/* scroll barra*/

*::-webkit-scrollbar {
    background-color: #ffffff;
    width: 8px;
    /* Ancho de la barra de desplazamiento */
    height: 5px;
    /* Altura de la barra de desplazamiento */
    border-radius: 10px;
    /* Bordes redondeados */
}

*::-webkit-scrollbar-thumb {
    background-color: #00a0a3;
    /* Color del fondo de la barra de desplazamiento */
    border-radius: 10px;
    /* Bordes redondeados */
}